{% extends 'base2.html.twig' %}

{% block title %}Hello CategorieArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% for error in form.vars.errors %}
    <div class="alert alert-danger">{{ error.message }}</div>
{% endfor %}

<main id="main" class="main">

    <div class="pagetitle">
        <h4>Les catégories des articles proposés</h4>
    </div><!-- End Page Title -->

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ajouter une nouvelle catégorie</h5>

            <!-- Floating Labels Form -->
            {{ form_start(form, {'attr': {'class': 'row g-3', 'novalidate': 'novalidate'} }) }}
            
            <div class="col-md-12">
                <div class="form-floating">
                    {{ form_widget(form.nom_categorie, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la catégorie', 'id': 'floatingName'}}) }}
                    {% if form.nom_categorie.vars.errors|length > 0 %}
                        <div class="alert alert-danger mt-2">
                            {{ form_errors(form.nom_categorie) }}
                        </div>
                    {% endif %}
                    <label for="floatingName">Nom de la catégorie</label>
                </div>
            </div>

            <div class="col-12">
                <div class="form-floating">
                    {{ form_widget(form.description_categorie, {'attr': {'class': 'form-control', 'placeholder': 'Description', 'id': 'floatingTextarea', 'style': 'height: 100px;'}}) }}
                    {% if form.description_categorie.vars.errors|length > 0 %}
                        <div class="alert alert-danger mt-2">
                            {{ form_errors(form.description_categorie) }}
                        </div>
                    {% endif %}
                    <label for="floatingTextarea">Description</label>
                </div>
            </div>

            <div class="col-12">
                <div class="form-floating">
                    {{ form_widget(form.image_categorie, {'attr': {'class': 'form-control', 'id': 'floatingImage', 'accept': 'image/*'}}) }}
                    <label for="floatingImage">Image</label>
                </div>
            </div>

            <div class="text-center">
                {{ form_widget(form.Confirmer, {'attr': {'class': 'btn btn-success'}}) }}
                {{ form_widget(form.Annuler, {'attr': {'class': 'btn btn-secondary', 'type': 'reset'}}) }}
            </div>

            {{ form_end(form) }}
            <!-- End floating Labels Form -->

        </div>
    </div>

    

</main>
{% endblock %}
