{% extends 'basecnx.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<!-- Favicons -->
       

    <div class="pagetitle">
        <h1>Profile</h1>
        
    </div><!-- End Page Title -->

    <section class="section profile">
     <link href="{{asset('backOffice/assets/img/favicon.png')}}" rel="icon">
        

         <!-- Template Main CSS File -->
        <link href="{{asset('backOffice/assets/css/style.css')}}" rel="stylesheet">

        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="{{ asset(app.user.PhotoProfil ? 'uploads/profile_dir/' ~ app.user.PhotoProfil : 'backOffice/assets/img/profile.jpg') }}" alt="Profile" class="rounded-circle">
                        
                        {% if (('ROLE_USER' in app.user.roles)or('ROLE_ADMIN' in app.user.roles)) %}
                        <h2>{{app.user.prenom}} {{app.user.nomUser}}</h2>
                        {% endif %}

                        {% if 'ROLE_PROFESSIONNEL' in app.user.roles %}
                        <h2>{{app.user.nomUser}}</h2>
                        {% endif %}

                        {% if 'ROLE_USER' in app.user.roles %}
                        <h3>Particulier</h3>
                        {% endif %}

                        {% if 'ROLE_PROFESSIONNEL' in app.user.roles %}
                        <h3>Professionnel</h3>
                        {% endif %}

                        {% if 'ROLE_ADMIN' in app.user.roles %}
                        <h3>Administrateur</h3>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Mon Profile</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Modifier le Profile</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Changer le mot de passe</button>
                            </li>
                        </ul>

                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Détails</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Nom</div>
                                    <div class="col-lg-9 col-md-8">{{ app.user.nomUser }}</div>
                                </div>
                                {% if 'ROLE_USER' in app.user.roles %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Prénom</div>
                                    <div class="col-lg-9 col-md-8">{{ app.user.prenom }}</div>
                                </div>
                                {% endif %}
                                {% if 'ROLE_PROFESSIONNEL' in app.user.roles %}
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Matricule Fiscale</div>
                                    <div class="col-lg-9 col-md-8">{{ app.user.matriculeFiscale }}</div>
                                </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Role</div>
                                   
                                    

                                        {% if 'ROLE_USER' in app.user.roles %}
                                        <div class="col-lg-9 col-md-8">Particulier</div>
                                        {% endif %}

                                        {% if 'ROLE_PROFESSIONNEL' in app.user.roles %}
                                        <div class="col-lg-9 col-md-8">Professionnel</div>
                                        {% endif %}

                                        {% if 'ROLE_ADMIN' in app.user.roles %}
                                        <div class="col-lg-9 col-md-8">Administrateur</div>
                                        {% endif %}
                                        
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{ app.user.email }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Téléphone</div>
                                    <div class="col-lg-9 col-md-8">{{ app.user.numTel }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Adresse</div>
                                    <div class="col-lg-9 col-md-8">{{ app.user.adresse }}</div>
                                </div>

                                
                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <!-- Profile Edit Form -->
                                {% if 'ROLE_USER' in app.user.roles %}
                                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

                                   
                                    

                                    <div class="row mb-3">
                                        <label for="{{ form.photo_profil.vars.id }}" class="col-md-4 col-lg-3 col-form-label">Profile Photo</label>
                                        
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.photo_profil, {'attr': {'class': 'form-control', 'placeholder': 'Choisir une image', 'accept': 'image/*'}}) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.nom_user, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="{{ form.prenom.vars.id }}" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="{{ form.email.vars.id }}" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="{{ form.numTel.vars.id }}" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.numTel, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="{{ form.adresse.vars.id }}" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="text-center ">
                                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                                    </div>
                                {{ form_end(form) }}
                                {% endif %}
                                {% if 'ROLE_PROFESSIONNEL' in app.user.roles %}
                                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

                                   
                                    

                                    <div class="row mb-3">
                                        <label for="{{ form.photo_profil.vars.id }}" class="col-md-4 col-lg-3 col-form-label">Profile Photo</label>
                                        
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.photo_profil, {'attr': {'class': 'form-control', 'placeholder': 'Choisir une image', 'accept': 'image/*'}}) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.nom_user, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    

                                    <div class="row mb-3">
                                        <label for="{{ form.email.vars.id }}" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="{{ form.numTel.vars.id }}" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.numTel, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="{{ form.adresse.vars.id }}" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                        <div class="col-md-8 col-lg-9">
                                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="text-center ">
                                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                                    </div>
                                {{ form_end(form) }}
                                {% endif %}
                            </div>


                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <form method="post" action="">
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="currentPassword" type="password" class="form-control" id="currentPassword">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newPassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewPassword" type="password" class="form-control" id="renewPassword">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form>
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
