{% extends 'basecnx.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Magasin RecyConnect</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Nous n'avons qu'une seule planète Terre, et nous devons la préserver</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    {# Contact Start #}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <p class="fs-5 fw-bold text-primary">Veuillez remplir les détails de votre article convenablement</p>
                <h1 class="display-5 mb-5">Proposez un article</h1>
                {{ form_start(form) }}
                <div class="row g-3">

                    <div class="col-12">
                        <div class="form-floating">
                            {{ form_widget(form.nom_article, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'article'}}) }}
                            {{ form_label(form.nom_article, 'Nom de l\'article') }}
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            {{ form_widget(form.image_article, {'attr': {'class': 'form-control', 'placeholder': 'Choisir une image', 'accept': 'image/*'}}) }}
                            {{ form_label(form.image_article, 'Choisir une image') }}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating">
                            {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                            {{ form_label(form.categorie, 'Catégorie') }}
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            {{ form_widget(form.localisation_article, {'attr': {'class': 'form-control', 'placeholder': 'Lien vers Google Maps'}}) }}
                            {{ form_label(form.localisation_article, 'Localisation') }}
                        </div>
                        <button class="btn btn-primary mt-2" type="button" onclick="openMap()">localisation MAPS</button>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">
                            {{ form_widget(form.quantite_article, {'attr': {'class': 'form-control', 'placeholder': 'Quantité de l\'article'}}) }}
                            {{ form_label(form.quantite_article, 'Quantité de l\'article') }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">
                            {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'placeholder': 'Prix de l\'article'}}) }}
                            {{ form_label(form.prix, 'Prix de l\'article') }}
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            {{ form_widget(form.description_article, {'attr': {'class': 'form-control', 'style': 'height: 100px', 'placeholder': 'Description'}}) }}
                            {{ form_label(form.description_article, 'Description') }}
                        </div>
                    </div>

                    <div class="col-12">
                        {{ form_widget(form.Confirmer, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_widget(form.Annuler, {'attr': {'class': 'btn btn-secondary', 'type': 'reset'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 450px;">
                <div class="position-relative rounded overflow-hidden h-100">
                    <img class="position-relative w-100 h-100" src="{{ asset('frontOffice/img/kkkkk.jpg') }}" style="min-height: 300px; border:0;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{# Contact End #}

<script>
function openMap() {
    window.open('https://www.google.com/maps', '_blank');
}
</script>


<div class="container-xxl py-5">
  <div class="container">
      
      
  </div>
</div>
<!-- Projects End -->
{% endblock %}
